.bookListContainer {
    width: 900px;
    margin: 0 auto;
}

.bookListContainer h2 {
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
}

.bookListContainer .box-sort-heading {
    margin: 1.7rem 0 0.8rem 0;
    font-weight: 600;
    color: #616161;
}

.bookListContainer .book-item {
    border: 1px solid rgb(187, 187, 187);
    padding: 1rem 1rem;
    border-radius: 0.15rem;
}

.bookListContainer .book-item .reading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.bookListContainer .book-item .left h3 {
    font-size: 1.18rem;
    margin-bottom: 0.5rem;
    font-weight: 900;
}

.bookListContainer .book-item .left p {
    color: grey;
    font-size: 0.95rem;
}

.bookListContainer .book-item .reading-container .left {
    width: 100%;
}

.bookListContainer .book-item .btn-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    padding: 0 0rem;
}

.bookListContainer .book-item .btn-box .move-btn-box {
    display: flex;
    gap: 10px;
}

.bookListContainer .book-item .btn-box .move-btn-box button {
    color: #fff;
    padding: 0.3rem 0.7rem;
    font-size: 0.65rem;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid rgb(243, 241, 241);
    color: black;
    background: transparent;
}

.bookListContainer .book-item .btn-box .move-btn-box button:disabled {
    color: #c7c7c7;
    cursor: not-allowed;
}

.bookListContainer .book-item .btn-box .remove-btn-box button {
    background: rgb(235, 33, 33);
    color: #fff;
    padding: 0.5rem 0.6rem;
    font-size: 0.65rem;
    font-weight: 600;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    border: none;
}