.bookListContainer {
    width: 900px;
    margin: 0 auto;
    padding: 3rem 0 6rem 0;
}

.bookListContainer .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 2rem 0;
}

.bookListContainer h2 {
    font-size: 1.4rem;
    color: #fff;
}

.bookListContainer .add-new-book-btn {
    background: linear-gradient(354deg, #383a99, #6ce2ff);
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.7rem;
    font-weight: 600;
    border: none;
    outline: none;
    padding: 0 1.1rem;
    height: 39.5px;
}

.bookListContainer .box-sort-heading {
    margin: 0.7rem 0 1.5rem 0;
    font-size: 1.1rem;
    font-weight: 600;
    color: #c9c9c9;
    display: flex;
    align-items: center;
    gap: 10px;
}

.bookListContainer .book-item {
    padding: 1rem 1rem;
    border-radius: 0.15rem;
    background: linear-gradient(354deg, #0e0f5c, #6ce2ff);
    margin: 0.2rem;
    color: #fff;
}

.bookListContainer .book-item .reading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background: linear-gradient(354deg, #080950);
    
}

.bookListContainer .book-item .left h3 {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    font-weight: 900;
    color: #060738;
}

.bookListContainer .book-item .left p {
    color: rgb(44, 44, 44);
    font-size: 0.95rem;
    font-weight: 400;
}

.bookListContainer .book-item .reading-container .left {
    width: 100%;
}

.bookListContainer .book-item .btn-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    padding: 0 0rem;
}

.bookListContainer .book-item .btn-box .move-btn-box {
    display: flex;
    gap: 35px;
}

.bookListContainer .book-item .btn-box .move-btn-box button {
    color: #fff;
    font-size: 0.6rem;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    /* border: 1px solid rgb(243, 241, 241); */
    border: none;
    color: black;
    background: transparent;
}

.bookListContainer .book-item .btn-box .move-btn-box button:disabled {
    color: #c7c7c7;
    cursor: not-allowed;
}

.bookListContainer .book-item .btn-box .remove-btn-box button {
    background: transparent;
    border: none;
    color: rgb(173, 0, 0);
    padding: 0.3rem 0.30rem;
    font-size: 0.75rem;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    gap: 5px;
}


.bookListContainer .book-item .btn-box .remove-btn-box .icon-del {
    font-size: 35px;
}

.bookListContainer .box-backlog {
    margin-bottom: 4rem;
    min-height: 300px;
}

.bookListContainer .box-progress {
    margin-bottom: 4rem;

}

